:root {
    --accent-color: #2e2f42;
    --logo-btn-color: #4D5AE5;
    --text-color: #434455;
    --fond-color: #FFFFFF;
    --fond-btn-color: #F4F4FD;
    --btn-color: #404bbf;
    --border-color:  #e7e9fc; 
    --icono-color: #8e8f99;
    --icono-color: #8e8f99;
    --cocil-icono: #4d5ae5;
    --icono-hover: #31d0aa;
    }

    h1,h2,h3,p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        display: block;
    }

    address {
        font-style: normal;
    }


    button {
        cursor: pointer;
    }
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--fond-color);
}

.list {
list-style: none;
}
.link {
text-decoration: none;
} 
    
    
    /*================ Header======================= */

    .logo-type {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-btn-color);
display: flex;
align-items: center;
margin-right: 76px;
}
.colorr {
    color: var(--accent-color);
   }

.menu-list {
    display: flex;
    gap: 40px;
  }
    
.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--accent-color);
display: inline-block;
padding-top: 24px;
padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--btn-color);
}

.address {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
} 

.addressa:hover,
.addressa:focus {
    color: var(--btn-color);
}

.addressa {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* ------ Header-container -------------*/
.contacts-i {
    font-style: normal;
    margin-left: auto;
}

.contact {
display: flex;
padding-top: 24px;
padding-bottom: 24px;
gap: 40px;
}


.page-header {
    background-color: var(--fond-color);
    border-bottom: 1px solid var(--border-color);
  }
  
  .page-header .page-header-container {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }
  .addressa {
    display: flex;
    align-items: center;
  }

.shadow {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


/*=================== Hero-section-1 ============================*/
    
    .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--fond-color);
    text-align: center;
    }
    
    .modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--fond-color);
    background: var(--logo-btn-color);
    cursor: pointer;
    }
    
    .modal-btn:hover,
    .modal-btn:focus {
    background: var(--btn-color);
    color: var(--fond-color);
    }



/* Container-hero */

.hero-h {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}
.section-hero {
    background: var(--accent-color);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    
} 

.modal-btn {
    display: block;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
}

    
    
    
   
   
    

    

/*=================== Section 2=================================== */

.distinctive-features-header {
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.distinctive-features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* Container-section-2 */

    .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
    


.flex-container-s {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.distinctive-features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.flex-h-s {
display: flex;
margin-bottom: 8px;
margin-left: 0;
}

.distinctive-features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.icon {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
   

}

/*================== Section 3=============================== */

.our-work-header {
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--accent-color);

}

/* container-section-3*/
.our-work {
    padding-bottom: 120px;
}

.flex-items-t {
    flex-basis: calc((100% - 48px) / 3);
}

.flex-h-work {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.flex-container-work {
   display: flex;
   flex-wrap: wrap;
    gap: 24px;
}


/*===================Section-4===================================  */
.our-team {
background-color: var(--fond-btn-color);

padding: 120px 0;

}
.img {
background-color: var(--fond-color);
}

.our-team-header {
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--accent-color);

}

.team-member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);

}

.our-team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
margin-bottom: 8px;
}

/* container-section-4 */

.our-team {
    padding: 120px 0;
}
.flex-container-t { 
display: flex;
gap: 24px;
}

.flex-container-t .flex-items-t .group-h {
    display: flex;
    flex-wrap: wrap;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* Section-4  radiuі задан в д/з */
.flex-items-t {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.post-s-t {
    padding: 32px 0;
    
}
.team-member-name {
    text-align: center;
    margin-bottom: 8px;
}
 .our-team-text {
    text-align: center;
    margin-bottom: 8px;
 }
 .flex-h-t {
    margin-bottom: 72px;
 }

 /* ------- list-icon- ----- */
 
 .icon-our-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
 .icon-our-team-list-link {
    width: 40px;
    height: 40px;
 }

 .cocial-list-icon:hover,
 .cocial-list-icon:focus {
    background-color: var(--btn-color);
 }




 .cocial-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    background-color: var(--cocil-icono);
}
 .list-link-icon-four {
    fill: var(--fond-btn-color);
 }






 /* =========== Section-5 ================ */
.section-icono {
    padding: 120px 0;

}
.section-icono-h {
    font-size: 36px;
    line-height: 1.1;
    color: var(--accent-color);
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.section-icono-list {
    display: flex;
    gap: 24px;
    height: 88px;
}
.icono-five {
    width: calc((100% - 120px) / 6); 
    height: 88px;

   

    
}


    
   

.icono-five-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    width: 100%;
    height: 100%;

}
.icono-five-list:hover,
.icono-five-list:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.list-link-five {
fill: currentColor;
}


    
   
   
    

/*==============Footer================================= */

.logo-type-footer {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-btn-color);
}


.colorr-footer {
color: var(--fond-btn-color);
}





.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--fond-btn-color);
}

/* Container-footer */

.footer {
    padding: 100px 0;
    background: var(--accent-color);
}
.logo-type-footer {
    display: inline-block;
    margin-bottom: 16px; 
}
.paragraph {
    max-width: 264px;
    
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.logo-footer-div {
    margin-right: 120px;
}
.p-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--fond-color);

}


.logo-footer-ul {
    display: flex;
    gap: 16px;
}

.list-footer {
    width: 40px;
    height: 40px;
}


.cocial-list-icon-footer {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;

border-radius: 50%;
background-color: var(--cocil-icono)

}

.cocial-list-icon-footer:hover,
.cocial-list-icon-footer:focus {
  background-color: #31d0aa;
}

.list-link-icon-footer {
    fill:var(--fond-btn-color);
}

/*==================================== Portfolio========================== */

.menu-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
} 


/* Portfolio btn */
.portfolio-btn:hover,
.portfolio-btn:focus {
background: var(--btn-color);
color: var(--fond-color);
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--logo-btn-color);
background-color: var(--fond-btn-color);
cursor: pointer;
}
/* Portfoli-container */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.flex-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
.flex-container-potfolio {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.flex-items-portfolio {
    width: calc((100% - 48px) / 3);
 }

.post {
    max-width: 100%;
}
    

.post-ht {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}
    .post-heading {
    margin-bottom: 8px;
}
.link-a:hover,
.link-a:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-a {
    display: block; 
}